body {
    background-color: #ECECEC;
}
nav {
    margin-bottom: 3em;
}

#logo {
    font-family: 'Kaushan Script', cursive;
    color: #F3D250;
    text-shadow: 3px 3px #5DA2D5;
}

.

#splash-image {
    width: 40%;
    height: 40%;
}